@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.mainContent {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
}

.mainContent h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header p {
  margin-left: 30px;
}

.leftContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.casesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 520px;
  height: 310px;
  background-color: #f0f0f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0px 15px 15px 0px;
  padding: 20px;
}

.card .cardTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.card p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.card .cardIcon {
  align-self: flex-end;
}

.btnPrimary {
  width: 264px;
  height: 64px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
