.btnPrimary {
  width: 100%;
  background-color: #29b674;
  width: 351px;
  height: 60px;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 61px;
  /* identical to box height */

  text-align: center;
  display: inline-block;

  /* Background */

  color: #f0f0f5;
  transition: 0.2s;
}

.btnPrimary :hover {
  filter: brightness(90%);
}
