.btnPrimary {
  background-color: #29b674;
  width: 351px;
  height: 60px;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  /* Background */

  color: #e5e5e5;
}
