@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.container {
  width: 100%;
  display: flex;
  margin: 0px 10px 0px 10px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.section h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: #1f76bb;
  margin-bottom: 40px;
  align-self: center;
}

.section .logoImg {
  min-width: 110px;
  min-height: 110px;
  margin-bottom: 20px;
  align-self: center;
}

.section .linkRegister p {
  display: flex;
  color: #1f76bb;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
  text-decoration: none;
  transition: 0.2s;
  margin-top: 30px;
}

.section .linkRegister p:hover {
  color: #737380;
}

.aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.aside .imageLogon {
  max-width: 408px;
  max-height: 172px;
  margin-bottom: 50px;
}

.aside .titleAside {
  font-family: Roboto;
  color: #1f76bb;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.aside .phraseAside {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  color: #737380;
}
