@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.mainContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.section .title-ong {
  font-family: Roboto;
  align-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #1f76bb;
  margin-bottom: 40px;
}

.section .linkRegister p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #1f76bb;
  margin-bottom: 50px;
  text-decoration: none;
  transition: 0.2s;
  margin-top: 30px;
}

.section .linkRegister p:hover {
  color: #737380;
}

.aside {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.aside .imageLogon {
  max-width: 408px;
  max-height: 172px;
  margin-bottom: 50px;
}

.aside .titleAside {
  font-family: Roboto;
  color: #1f76bb;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.aside .phraseAside {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  color: #737380;
}
